@font-face {
  font-family: 'icomoon';
  src: url('../font/icomoon.eot?r8yixp');
  src: url('../font/icomoon.eot?#iefixr8yixp') format('embedded-opentype'), url('../font/icomoon.woff?r8yixp') format('woff'), url('../font/icomoon.ttf?r8yixp') format('truetype'), url('../font/icomoon.svg?r8yixp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal; }

[class^="bpy-"], [class*=" bpy-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.bpy-icon-cv:before {
  content: "\e600"; }

.bpy-icon-facebook:before {
  content: "\e601"; }

.bpy-icon-instagram:before {
  content: "\e602"; }

.bpy-icon-linkedin:before {
  content: "\e603"; }

.bpy-icon-pinterest:before {
  content: "\e604"; }

.bpy-icon-soundcloud:before {
  content: "\e605"; }

.bpy-icon-spotify:before {
  content: "\e606"; }

.bpy-icon-twitter:before {
  content: "\e607"; }

body {
  margin: 0px;
  color: #434343;
  background-color: #F2F0DF;
  font-family: 'Roboto Slab', arial, sans-serif;
  font-weight: 400; }

h1 {
  padding: 10px;
  font-family: 'Roboto Slab', arial, sans-serif;
  font-size: 100px;
  color: #F4F4F4; }

h2 {
  font-family: 'Roboto Slab', arial, sans-serif;
  padding: 10px;
  margin: 0; }

a {
  color: #48649F;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

p {
  font-size: 16px;
  line-height: 22px; }
